
<p>Stock Details</p>

<div class="row">

	<div class="col-sm-12 col-lg-12">

		<div class="datagrid">

			<table
				class="table table-hover table-striped table-condensed table-bordered">

				<thead>

					<tr>
						<th>Symbol</th>
						<th>Shares</th>
						<th>Gain %</th>
						<th>Gain</th>
						<th>Cost</th>
						<th>SoldAt</th>
						<th>Date</th>

					</tr>
				</thead>

				<tbody>

					<tr ng-repeat="sell in sells">
						<td>{{sell.symbol}}</td>
						<td>{{sell.shares}}</td>
						<td>{{sell.gainPct}}</td>
						<td>{{sell.gain}}</td>
						<td>{{sell.costPerShare}}</td>
						<td>{{sell.price}}</td>
						<td>Date</td>
					</tr>

				</tbody>

			</table>
		</div>

	</div>

</div>