

<div class="row">

	<div class="col-sm-12 col-lg-12">


		<h3>Buy History</h3>

		<div ng-controller="BuyHistoryCtrl">
			
			<div class="span4">
	
				<input type="text" id="field_id_symbol" ng-model="sell.symbol"
					placeholder="Symbol"></input>
					 
				<input type="text"
					id="field_id_shares" ng-model="sell.shares"
					placeholder="Num of Shares"> </input>					 
					
				<input type="text"
					id="field_id_cost" ng-model="sell.costPerShare"
					placeholder="Cost per Share"></input>				

				<input type="text"
					id="field_id_price" ng-model="sell.price"
					placeholder="Selling Price"></input>

	
				<button id="submitSell" class="btn btn-sm" type="button" 
	                    data-ng-disabled="!sell.symbol || !sell.shares || !sell.price || !sell.costPerShare" 
	                    data-ng-click="submit()">Sell Shares</button>
			</div>
	
			<br />				

			<table class="table table-hover table-striped table-condensed table-bordered historyTable history">
				<thead>
					<tr>
						<th>Symbol</th>
						<th>Shares</th>
						<th>Cost</th>
						<th>Gain%</th>
						<th>Gain</th>
						<th>Current</th>
						<th>Prev</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="buy in buys" data-ng-click="onSelect(buy.symbol, buy.shares, buy.price)">
						<td>{{buy.symbol}}</td>
						<td>{{buy.shares}}</td>
						<td>{{buy.price}}</td>
						<td>{{buy.gainPct}}</td>
						<td>{{buy.gain}}</td>
						<td>{{buy.currentQuote}}</td>
						<td>{{buy.prevClose}}</td>
						<td>Date</td>
					</tr>
				</tbody>
			</table>
		</div>


		<h3>Sell History</h3>
		<div ng-controller="SellHistoryCtrl">

			<table class="table table-hover table-striped table-condensed table-bordered historyTable history">
				<thead>
					<tr>
						<th>Symbol</th>
						<th>Shares</th>
						<th>Gain%</th>
						<th>Gain</th>
						<th>Cost</th>
						<th>SoldAt</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="i in sells">
						<td>{{i.symbol}}</td>
						<td>{{i.shares}}</td>
						<td>{{i.gainPct}}</td>
						<td>{{i.gain}}</td>
						<td>{{i.costPerShare}}</td>
						<td>{{i.price}}</td>
						<td>Date</td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>

</div>


