<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Trading app</title>

	<link href="css/main.css" rel="stylesheet"/>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    

	<div class="container-fluid">		

		<p>Account Overview</p>
		
		<div class="row">

			<div class="col-sm-12 col-lg-12">

				<div class="datagrid">
				
				<table>

						<thead>

							<tr>
								<th>Symbol</th>
								<th>Shares</th>
								<th>Cost</th>
								<th>Gain</th>
								<th>GainPct</th>								
								<th>Current</th>
								<th>Prev</th>
							</tr>
						</thead>

						<tbody>

							<tr th:each="b : ${balances}">
								<td th:text="${b.symbol}">Symbol</td>
								<td th:text="${b.shares}">Shares</td>
								<td th:text="${b.costPerShare}">CostPerShare</td>
								<td th:text="${b.gain}">Gain</td>
								<td th:text="${b.gainPct}">GainPct</td>																							
								<td th:text="${b.currentQuote}">CurrentQuote</td>
								<td th:text="${b.prevClose}">Prev</td>
							</tr>

						</tbody>

					</table>
										
				</div>


			</div>
						
		</div>

		
		<p>Individual Transactions （Buy)</p>

		<div class="row">

			<div class="col-sm-12 col-lg-12">

				<div class="datagrid">
				
					<table>

						<thead>

							<tr>
								<th>Symbol</th>
								<th>Shares</th>
								<th>Cost</th>
								<th>Gain</th>
								<th>GainPct</th>
								<th>Current</th>
								<th>Prev</th>
							</tr>
						</thead>

						<tbody>

							<tr th:each="trade : ${tradesBuy}">
								<td th:text="${trade.symbol}">Symbol</td>
								<td th:text="${trade.shares}">Shares</td>
								<td th:text="${trade.costPerShare}">CostPerShare</td>
								<td th:text="${trade.gain}">Gain</td>
								<td th:text="${trade.gainPct}">GainPct</td>								
								<td th:text="${trade.currentQuote}">CurrentQuote</td>
								<td th:text="${trade.prevClose}">Prev</td>
							</tr>

						</tbody>

					</table>
				</div>


			</div>
			
		</div>
		
	<p>Individual Transactions （Sell)</p>

		<div class="row">

			<div class="col-sm-12 col-lg-12">

				<div class="datagrid">
				
					<table>

						<thead>

							<tr>
								<th>Symbol</th>
								<th>Shares</th>
								<th>Price</th>
							</tr>
						</thead>

						<tbody>

							<tr th:each="trade : ${tradesSell}">
								<td th:text="${trade.symbol}">Symbol</td>
								<td th:text="${trade.shares}">Shares</td>
								<td th:text="${trade.price}">SoldAt</td>
							</tr>

						</tbody>

					</table>
				</div>


			</div>
			
		</div>
<!-- 
		<div class="row">
			
			<form action="#" th:action="@{/seedstartermng}" th:object="${seedStarter}" method="post">
    			<input type="text" th:field="*{datePlanted}" />

				<div>
					<label th:for="${#ids.next('covered')}"
						th:text="#{seedstarter.covered}">Covered</label> <input
						type="checkbox" th:field="*{covered}" />
				</div>
				
				<button type="submit" name="addRow" th:text="#{seedstarter.row.add}">Add row</button>
				
			</form>
		</div>				

 -->		
		<!-- 
		<div class="row">
			<div class="col-md-8">.col-md-8</div>
			<div class="col-md-4">.col-md-4</div>
		</div>
		<div class="row">
			<div class="col-md-4">.col-md-4</div>
			<div class="col-md-4">.col-md-4</div>
			<div class="col-md-4">.col-md-4</div>
		</div>
		<div class="row">
			<div class="col-md-6">.col-md-6</div>
			<div class="col-md-6">.col-md-6</div>
		</div>
		 -->
	</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>